@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<section>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input asp-for="Input.RememberMe" class="form-check-input" />
                <label asp-for="Input.RememberMe" class="form-check-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Вход</button>
        </div>
        <div class="mb-3">
            @*<p>
                <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола</a>
            </p>*@
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
            </p>
        </div>
    </form>
</section>
