@{
    this.ViewData["Title"] = "Home Page";
}


<div class="row">
    <!-- Articles -->
    <div class="col-lg-8 g-mb-50 g-mb-0--lg">
        @for (int i = 0; i < 5; i++)
        {
            <!-- Article -->
            <article class="g-mb-50">
                <figure class="g-pos-rel">
                    <img class="img-fluid w-100 g-mb-20" src="../../assets/img-temp/600x450/img8.jpg" alt="Image description">
                    <figcaption class="g-pos-abs g-top-20 g-left-20">
                        <a class="btn btn-sm u-btn-yellow rounded-0" href="#!">Web Design</a>
                    </figcaption>
                </figure>

                <div class="g-pos-rel px-4">
                    <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mt-minus-45 g-mb-20">
                        <li class="list-inline-item mr-3">
                            <img class="g-width-40 g-height-40 g-brd-around g-brd-2 g-brd-white rounded-circle mb-2" src="../../assets/img-temp/100x100/img6.jpg" alt="Image description">
                            <h4 class="h6 g-font-weight-600 mb-0">

                                <a class="g-color-gray-dark-v4" href="#!">James Woodman</a>

                            </h4>
                        </li>
                        <li class="list-inline-item">
                            <span class="g-font-size-13">July 12, 2017</span>
                        </li>
                        <li class="list-inline-item ml-auto">
                            <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">
                                <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                            </a>
                            <span class="g-color-gray-dark-v5">2.1k</span>
                        </li>
                        <li class="list-inline-item ml-3">
                            <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">
                                <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                            </a>
                            <span class="g-color-gray-dark-v5">16</span>
                        </li>
                    </ul>

                    <h2 class="h4">

                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">In the future, design principles won’t be about design</a>

                    </h2>

                    <p class="g-color-gray-dark-v4">
                        In an attempt to answer those questions, I poured over the biggest collections of design principles on the internet [1][2], and came to the following conclusion: corporate design principles are a set of shared guidelines that reflect the
                        core design values and vision of a company.
                    </p>

                    <a class="g-font-size-12 text-uppercase g-font-weight-600 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Read More</a>
                </div>
            </article>
            <!-- End Article -->
        }
        <!-- Pagination -->
        <nav id="stickyblock-end" class="text-center" aria-label="Page Navigation">
            <ul class="list-inline">
                <li class="list-inline-item float-left g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Previous">
                        <span aria-hidden="true">

                            <i class="fa fa-angle-left g-mr-5"></i> Previous

                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#!">1</a>
                </li>
                <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">2</a>
                </li>
                <li class="list-inline-item float-right g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Next">
                        <span aria-hidden="true">

                            Next <i class="fa fa-angle-right g-ml-5"></i>

                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Pagination -->
    </div>
    <!-- End Articles -->
    <!-- Sidebar -->
    <div class="col-lg-4">
        <!-- Posts -->
        <div class="g-mb-30">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h3 class="u-heading-v2__title h4 g-color-black mb-0">Recent Posts</h3>
            </div>

            <!-- Article -->
            <article class="media g-mb-30">
                <a class="d-flex mr-3" href="#!">
                    <img class="rounded-circle g-width-60 g-height-60" src="../../assets/img-temp/100x100/img8.jpg" alt="Image description">
                </a>

                <div class="media-body">
                    <h3 class="h6">

                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Best dessert recipes for breakfast which will make your day</a>

                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            July 20, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                                <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 18
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Article -->
            <!-- Article -->
            <article class="media g-mb-30">
                <a class="d-flex mr-3" href="#!">
                    <img class="rounded-circle g-width-60 g-height-60" src="../../assets/img-temp/100x100/img9.jpg" alt="Image description">
                </a>

                <div class="media-body">
                    <h3 class="h6">

                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Stylish things to do, see and purchase only this week</a>

                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            July 16, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                                <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 31
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Article -->
            <!-- Article -->
            <article class="media g-mb-30">
                <a class="d-flex mr-3" href="#!">
                    <img class="rounded-circle g-width-60 g-height-60" src="../../assets/img-temp/100x100/img11.jpg" alt="Image description">
                </a>

                <div class="media-body">
                    <h3 class="h6">

                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Government plans to test new primary school pupils and teachers..</a>

                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            July 07, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                                <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 24
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Article -->
            <!-- Article -->
            <article class="media">
                <a class="d-flex mr-3" href="#!">
                    <img class="rounded-circle g-width-60 g-height-60" src="../../assets/img-temp/100x100/img13.jpg" alt="Image description">
                </a>

                <div class="media-body">
                    <h3 class="h6">

                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>

                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            July 11, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                                <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 46
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Article -->
        </div>
        <!-- End Posts -->

        <div id="stickyblock-start">
            <div class="js-sticky-block g-sticky-block--lg g-pt-20" data-type="responsive" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                <!-- Tags -->
                <div class="g-mb-30">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h3 class="u-heading-v2__title h4 g-color-black mb-0">Tags</h3>
                    </div>

                    <ul class="u-list-inline g-font-size-12">
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Web Design</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Bootstrap</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">SASS</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Marketing</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Unify</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Htmlstream</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Pixeel</a>
                        </li>
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-primary--hover g-brd-primary--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#!">Free Themes</a>
                        </li>
                    </ul>
                </div>
                <!-- End Tags -->
            </div>
        </div>
    </div>
    <!-- End Sidebar -->
</div>
<!-- End Blog Minimal Blocks -->