@model PressCenters.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h4>
    Users: @this.Model.UsersCount
</h4>

<h4>
    Empty ImageUrl: @this.Model.CountNullNewsImageUrls --
    Empty OriginalUrl: @this.Model.CountNullNewsOriginalUrl --
    Empty RemoteId: @this.Model.CountNullNewsRemoteId
</h4>
