@using PressCenters.Common
@{
    this.Layout = "_BaseLayout";
}

<div class="container clearfix mb-3">
    <div class="row">
        <div class="col-lg-4">
            <h1>@GlobalConstants.SystemName</h1>
            @{
                var subTitle = (this.ViewData["Title"] ?? GlobalConstants.SystemSlogan).ToString();
                if (subTitle.Length > 30)
                {
                    subTitle = GlobalConstants.SystemSlogan;
                }
            }
            <h2 class="lead">@subTitle</h2>
        </div>
        <div class="col-lg-8">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- PressCenters.com_Header -->
            <ins class="adsbygoogle"
                 style="display: block"
                 data-ad-client="ca-pub-4541634013740958"
                 data-ad-slot="3910508436"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-8 g-mb-30 g-mb-0--lg">
                @this.RenderBody()
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="g-mb-20">
                    <vc:main-news></vc:main-news>
                </div>
                <div class="g-mb-20">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- PressCenters.com_Sidebar -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4541634013740958"
                         data-ad-slot="6075962183"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @this.RenderSection("Scripts", required: false)
}
