@using PressCenters.Common
@{
    this.Layout = "_BaseLayout";
}

<div class="container clearfix mb-3">
    <div class="float-left">
        <h1>@GlobalConstants.SystemName</h1>
        <h2 class="lead">@(this.ViewData["SubTitle"] ?? "Всички прессъобщения на едно място")</h2>
    </div>
    <div class="float-right text-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Main_728x90 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-4541634013740958"
             data-ad-slot="1694586025"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-8 g-mb-30 g-mb-0--lg">
                @this.RenderBody()
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="g-mb-20">
                    <vc:main-news></vc:main-news>
                </div>
                <div class="g-mb-20">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- PressCenters_Sidebar -->
                    <ins class="adsbygoogle"
                         style="display: inline-block; width: 250px; height: 250px"
                         data-ad-client="ca-pub-4541634013740958"
                         data-ad-slot="4703852426"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @this.RenderSection("Scripts", required: false)
}
